
<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
  

<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    
    </div>
  </div>
</div>
<br><br><br>

<!-- Page content -->
<div style="opacity: 1; background-repeat: no-repeat;background-size: cover;" [ngStyle]="{backgroundImage:'url(./assets/img/med1.jpg)'}" >
<div class="container-fluid mt--7">


  <h2>Patient Profile</h2>

  <br><br>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootstrap snippets bootdey" style="opacity: 1;">
  <div class="row">
   
    <div class="profile-info col-md-12">
        
        <div class="panel" *ngFor="let patient of patient$ | async">
            <div class="bio-graph-heading">
             <h1 style="text-transform: uppercase;"><b> {{ patient.nom }} {{ patient.prenom }}</b></h1>
            </div>
            <br>
            <div class="panel-body bio-graph-info">
               
                <div class="row"  style="color: black;">
                    <div class="bio-row">
                        <p><span><b>Nom :</b></span>{{ patient.nom }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span><b>Prénom :</b> </span> {{ patient.prenom }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span><b>Email :</b> </span> {{ patient.email }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span><b>Sexe :</b></span>{{ patient.sexe }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span><b>Age :</b> </span>{{ patient.age }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span><b>Taille :</b> </span>{{ patient.taille }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span><b>Poids :</b></span>{{ patient.poids }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span><b>Periode du suivi :</b> </span>{{ patient.periode }}</p>
                    </div>
                </div>
            </div>
           
        </div>
      

    
        <div>
            <div class="row" *ngFor="let patient of patient$ | async">
              <div class="col-xl-4 col-lg-8">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">IMC</h5>
                        <span class="h2 font-weight-bold mb-0">{{ patient.imc }}<script></script></span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                          <i class="fas fa-balance-scale"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span ><b>{{ patient.classe }}</b></span>
                      <span class="text-nowrap"></span>
                    </p>
                  </div>
                </div>
              </div>


                <div class="col-xl-4 col-lg-8">
          <div class="card card-stats mb-4 mb-xl-0"  *ngFor="let patient of patient$ | async"> 
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">IMG</h5>
                  <span class="h2 font-weight-bold mb-0">{{patient.img}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span ><b>{{patient.classeimg}}</b></span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-8">
          <div class="card card-stats mb-4 mb-xl-0"  *ngFor="let patient of patient$ | async"> 
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">POIDS IDÉAL</h5>
                  <span class="h2 font-weight-bold mb-0">{{patient.pideal}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i  class="fas fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span ><b>&nbsp;</b></span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
      <br><br><br>
                
                
            </div>
        </div>
    </div>
  </div>
  </div>


  <!-- second table -->

  
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Tableau de Données (Capturés par les objets connectées)</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
             
            <tr>
                <th scope="col">Poids</th>
                
                  <td *ngFor="let poids of poids$ | async">
                    {{ poids.valeur }}
                    </td>
                 
                
              </tr>
            <tr> 
                <th scope="col">Pas</th>
                
                
                  <td *ngFor="let pas of pas$ | async">
                    {{ pas.valeur }}
                    </td>
                   
              </tr>
            <tr>
                <th scope="col">Calories</th>
               
                  <td *ngFor="let Calories of calories$ | async ">
                    {{ Calories.valeur }}
                    </td>
                
              </tr>
              <tr>
                <th scope="col">Active Minutes</th>
               
                  <td *ngFor="let active of active$ | async ">
                    {{ active.valeur }}
                    </td>
                
              </tr>
              <tr>
                <th scope="col">Heart Minutes</th>
               
                  <td *ngFor="let heart of heartmin$ | async ">
                    {{ heart.valeur }}
                    </td>
                
              </tr>
              <tr>
                <th scope="col">BPM</th>
               
                  <td *ngFor="let heart of heartbpm$ | async ">
                    {{ heart.valeur }}
                    </td>
                
              </tr>
               </thead>   
                
                
              
            
            <tbody>
              
              
              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
  <div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>

<br><br>




<div style="opacity: 1; background-repeat: no-repeat;background-size: cover;" [ngStyle]="{backgroundImage:'url(./assets/img/med4.jpg)'}" >

  <br><br>

    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Medicament</h3>
          </div>
          <div class="container" class="col text-right">

            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Ajouter Medicament
            </button>
          
            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Medicament Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    <form #formDirective [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-city">Nom</label>
                            <input type="text"  class="form-control form-control-alternative" placeholder="Nom"  formControlName="nom">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Dosage</label>
                            <input type="text"  class="form-control form-control-alternative" placeholder="dosage" formControlName="dosage" >
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Durée</label>
                            <input type="text"  class="form-control form-control-alternative" placeholder="Durée"  formControlName="duree">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Note</label>
                            <input type="text"  class="form-control form-control-alternative" placeholder="Note"  formControlName="autre">
                          </div>
                        </div>
                       
                       
                    
                        
                      </div>
                      <button type="submit" class="btn btn-info" style="margin-left:10%;"  [disabled]="!form.valid">Envoyer</button>
                                </form>
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Dosage</th>
                  <th scope="col">Durée</th>
                  <th scope="col">Note</th>
                
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medic of medicament$ | async">
                  
                  <td>
                    {{ medic.nom }}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i>  {{ medic.dosage }}
                    </span>
                  </td>
                  <td>
                    {{ medic.duree }}
                  </td>
                  <td>
                    {{ medic.autre }}
                  </td>
                  <td class="text-right">
                    <a class="btn btn-danger" (click)="deletemedicament(medic.id)">
                      <i class="fa fa-trash-o fa-lg"></i> Delete</a>
                     
                      
                        
                     
                    
                  </td>
                </tr>
                
                
               
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>


    <style>
      .button {
        border-radius: 4px;
        background-color: #1ea6f4ef;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        padding:8px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
      </style>
      
      
      
      

    <div class="container">
      <h2>Rendez Vous</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <th>Num</th>
          <th>Nom</th>
          <th>Date</th>
        <button class="button" [routerLink]="['/addevent']"><i class="fa fa-calendar"></i><span>&nbsp; Planifier </span></button>
          
        </li>
        <li class="table-row" *ngFor="let rdv of rdv$ | async;let i= index">
          <div>{{ i+1 }}</div>
          <div>{{ rdv.title }}</div>
          <div>{{ rdv.date }}</div>
          
        </li>
        
       
      </ul>
    </div>
    <br><br>
    <br><br><br><br>

</div>

<div class="container-fluid">
  <app-footer></app-footer>
</div>
</div>