
<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
  

<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
     


    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">FAQ</h1>
     
    </div>
  </div>
  
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Qu’est-ce que le diabète de type 2 ?
                </a>
              </h4>
  
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">Le diabète de type 2 (90 % des cas de diabète) résulte d’une hyperglycémie chronique dans le sang, qui va provoquer à la longue une résistance à l’insuline (hormone régulatrice du glucose dans le sang) et un épuisement du pancréas (qui produit l’insuline). Bien comprendre le diabète de type 2 vous sera utile. En effet, si des prédispositions génétiques existent, les principales causes de diabète de type 2 sont le surpoids et l’obésité, la sédentarité, une alimentation déséquilibrée…
  </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Serais-je diabétique toute ma vie ?
                </a>
              </h4>
  
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">Cette question est importante car le diabète est une maladie chronique qui ne se guérit pas. Cela implique que vous devrez prendre un traitement quotidien, surveiller régulièrement votre taux de glycémie et modifier probablement certains aspects de votre hygiène de vie (alimentation, exercice physique..). Certains patients confondent parfois un diabète contrôlé avec une guérison, ce qui n’est pas du tout la même chose ! Dans certains cas, on peut parler de rémission grâce à une perte de poids et une bonne hygiène de vie, comme l'avancent les chercheurs de l'Association Américaine du Diabète. Mais pour cela, il ne faut pas que le diabète soit trop avancé. 
  </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Puis-je avoir d’autres problèmes de santé à cause de mon diabète ?                </a>
              </h4>
  
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Il est nécessaire que vous soyez informé(e) des complications fréquentes du diabète (principalement les problèmes rénaux et oculaires…).

                Bien connaître ces risques vous incitera à prendre en charge correctement votre maladie, à suivre scrupuleusement les conseils de votre médecin et à surveiller les signes de possibles complications. Lorsque le diabète est correctement équilibré, ces risques sont moindres. </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Y a-t-il des aliments à bannir de mon alimentation ?
                </a>
              </h4>
  
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
              <div class="panel-body">La question de l’alimentation est centrale lorsqu’un diagnostic de diabète est posé. Votre médecin vous expliquera qu’il n’existe aucun interdit mais que certains aliments devront être consommés avec modération et être intégrés dans l’équilibre glycémique global de vos repas. </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading5">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Quels sont les risques de la chirurgie bariatrique ?
                </a>
              </h4>
  
            </div>
            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
              <div class="panel-body">Toutes les interventions chirurgicales, quelles qu’elles soient, présentent des risques pour le patient. Toutefois, les risques doivent être mesurés par rapport aux avantages de l’intervention et aux complications liées à la vie avec des problèmes d’obésité. À titre d’information complémentaire pour le patient, actuellement, le risque de la chirurgie bariatrique est similaire à celui de la chirurgie d’ablation de la vésicule biliaire. En fait, la chirurgie bariatrique est 10 fois moins risquée que la chirurgie à cœur ouvert. 

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading6">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    EST-IL POSSIBLE DE REPRENDRE DU POIDS APRÈS L’OPÉRATION?
                </a>
              </h4>
  
            </div>
            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
              <div class="panel-body">Oui. Pour prévenir cette reprise, établissez des changements nutritionnels et de comportement alimentaire, avant l’opération, ce qui limitera les risques de reprise pondérale sur le long terme. 
                  
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading7">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Combien de temps me faudra-t-il pour reprendre le travail après une intervention en chirurgie bariatrique ?
                </a>
              </h4>
  
            </div>
            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
              <div class="panel-body">Un patient ayant subi une chirurgie bariatrique pourra retravailler dans les 8 à 12 jours suivant l’intervention. Chaque personne réagit de manière différente et cela marque l’évolution plus ou moins rapide.
                  
              </div>
            </div>
          </div>



          
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
