<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/profilbg.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"  style="text-transform: uppercase;" *ngFor="let user of users$| async ;">{{user.name}}</h1>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div *ngFor="let user of users$|async">
                  <span class="heading">{{user.age}}</span>
                  <span class="description">Age</span>
                </div>
                <div *ngFor="let user of users$|async">
                  <span class="heading">{{user.poids}}</span>
                  <span class="description">Poids</span>
                </div>
                <div *ngFor="let user of users$|async">
                  <span class="heading">{{user.taille}}</span>
                  <span class="description">Taille</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center"*ngFor="let user of users$|async">
            <h2 style="text-transform: uppercase;" >
              {{user.name}}, {{user.sexe}}
            </h2>
            <div class="h5 font-weight-300" *ngFor="let user of users$|async">
              <i class="ni location_pin mr-2"></i>{{user.role}}
            </div>
            <hr class="my-4" />

            <div class="h5 mt-4" *ngFor="let user of users$|async">
              <i class="ni business_briefcase-24 mr-2"></i>{{user.adresse}}
            </div>
            <hr class="my-4" />
            <div *ngFor="let user of users$|async">
              <i class="ni education_hat mr-2" ></i>{{user.email}}
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
        <div class="card-body" >
          <form >
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group" >
                     
                    <label class="form-control-label" for="input-username">Username</label>
                    <ng-container *ngFor="let user of users$| async ;">
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" [(ngModel)]="user.name" name="name">
                  </ng-container>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <ng-container *ngFor="let user of users$| async ;">
                      <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Email" [(ngModel)]="user.email" name="email">
                    </ng-container>
                                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Sexe</label><br>
                    <ng-container *ngFor="let user of users$| async ;">
                      <select class="form-control" style="min-width: 200px;"  id="pet-select">
                        <option value="">--     Sexe     -- </option>
                        <option value="Masculin">M</option>
                        <option value="Feminin">F</option>
                        </select>                  
                        </ng-container>
                                    </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Telephone</label>
                    <ng-container *ngFor="let user of users$| async ;">
                      <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Tel" [(ngModel)]="user.tel" name="tel">
                    </ng-container>       
                             </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <ng-container *ngFor="let user of users$| async ;">
                    <input id="input-address" class="form-control form-control-alternative" placeholder=" Adresss" [(ngModel)]="user.adresse" type="text">
                  </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Age</label>
                    <ng-container *ngFor="let user of users$| async ;">
                    <input type="number" id="input-city" class="form-control form-control-alternative"  placeholder="Age" [(ngModel)]="user.age" name="age">
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Taille</label>
                    <ng-container *ngFor="let user of users$| async ;">
                      <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="Taille" [(ngModel)]="user.taille" name="taille">
                      </ng-container>
                                      </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Poids</label>
                    <ng-container *ngFor="let user of users$| async ;">
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="Poids" [(ngModel)]="user.poids" name="poids">
                    </ng-container>                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <app-footer></app-footer>
</div>
</div>