<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>
<!-- Page content -->
<div  style=" background-repeat: no-repeat;background-size: cover;" [ngStyle]="{backgroundImage:'url(./assets/img/med3.jpg)'}" >

<div class="card-header border-0">
  <h3 class="mb-0">Mes Taches</h3>
</div>

<form #formDirective [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
  <fieldset>
    <legend>  &nbsp;&nbsp;  Aidez-nous à mieux vous servir</legend>
<br>
<div class="pl-lg-4">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-control-label" for="input-address">Quel est votre temperature ?</label><br>
        
        <input id="temp" type="range"  min="30" max="50" value="37" step="1" (change)="getSliderValue($event)"  (oninput)="getSliderValue($event)"  />
        {{ rangevalue }}

        <br>
        
      </div>
    </div>
  </div>
  </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Comment vous sentez aujourd'hui ?   </label>
                    <input  class="form-control form-control-alternative" placeholder="comment ca va ?" type="text" formControlName="forme" >
                  </div>
                </div>
              </div>
              </div>

              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Vous avez changer votre pansement ?   </label>
                      <div class="switch-toggle">
                        <input type="checkbox" id="pansement" (change)="checkCheckBoxvalue1($event)" >
                        <label for="pansement"></label>
                    </div>         
                      </div>
                  </div>
                </div>
                </div>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Avez vous un saignement ?</label>
                        <div class="switch-toggle">
                          <input type="checkbox" id="saignement" (change)="checkCheckBoxvalue3($event)" >
                          <label for="saignement"></label>
                      </div>  
                         </div>
                    </div>
                  </div>
                  </div>

                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-address">Vous avez des douleurs?</label>
                          <div class="switch-toggle">
                            <input type="checkbox" id="douleur" (change)="checkCheckBoxvalue4($event)" >
                            <label for="douleur"></label>
                        </div>  
                           </div>
                      </div>
                    </div>
                    </div>

                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="form-control-label" for="input-address">Niveau des douleurs ?</label>
                            <ngx-slider [(value)]="value" [options]="options" (mouseup)="sliderEvent(value)"></ngx-slider>

                             </div>
                        </div>
                      </div>
                      </div>

                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-address">Avez vous pris vos medicaments ?</label>
                          <div class="switch-toggle">
                            <input type="checkbox" id="medicament" (change)="checkCheckBoxvalue2($event)" >
                            <label for="medicament"></label>
                        </div>  
                           </div>
                      </div>
                    </div>
                    </div>
            <!-- Description -->
          
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Description</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..." formControlName="description"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-info" style="margin-left:90%;"  [disabled]="!form.valid">Envoyer</button>
  </fieldset>
          </form>
        
          <hr class="my-4" />
<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0">Etat table</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr >
              <th scope="col">Num</th>
              <th scope="col">Forme</th>
              <th scope="col">Description</th>
              
              <th scope="col">Temperature</th>
              <th scope="col">Pansement</th>
              <th scope="col">Saignement</th>
              <th scope="col">Medicament</th>
              <th scope="col">Douleur</th>
              <th scope="col">Intensité</th>
              <th scope="col">Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let etat of etats$ | async">
             <td>{{ etat.id}}</td>
              <td>
                {{ etat.forme }}
              </td>
              
              <td>
                {{ etat.description }}
              </td>
              <td>
                {{ etat.temp }}
              </td>
              <td>
                {{ etat.pansement }}
              </td>
              <td>
                {{ etat.saignment }}
              </td>
              <td>
                {{ etat.medicament }}
              </td>
              <td>
                {{ etat.douleur }}
              </td>
              <td>
                {{ etat.niveau }}
              </td>
              <td>
                {{ etat.created|date:'mediumDate' }}
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div *ngIf="etat.user === userId" ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="delete(etat.id)" >Supprimer</a>
                  </div>
                </div>
              </td>
            </tr>
            
            
           
            
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)" tabindex="-1">
                <i class="fas fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript:void(0)">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">
                <i class="fas fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

</div>

<div class="container-fluid">
  <app-footer></app-footer>
</div>
</div>