
<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
  

<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
     
      <h1 class="display-2 text-white">Interface Administrateur</h1>

    </div>
  </div>
</div>

<!-- Page content -->
<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Liste d'utilisateurs</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                
                <th scope="col">Role</th>
                <th scope="col">Profession</th>
                
                
               
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users$ | async">
                
                <td>
                  {{ user.name}}
                </td>
                <td>
                {{ user.email }}
                </td>
                
                    <td>
                      {{ user.role }}
                      </td>
                      <td>
                        {{ user.profession }}
                        </td>
                    
               
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                     
                      <a class="dropdown-item" (click)="delete(user.id)" >Supprimer</a>
                
                    </div>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



<div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>